page-common {
img{
    width:100%;
    height:60vh;
    // background-attachment: fixed;
}
.title{
    font-weight: bold;
    font-size: 18px;
}
.description{
    text-indent: 15vw;
}
.pubdate{
    font-size: 10px;
    color:gray;
}
.button-outline{
    border-color:#D3E2FA;
}
// .toolbar-title{
//     font-size: 4vw;
// }


}
