page-maincommon {
    .title{
        font-weight: bold;
        
    }
    .pubdate{
        font-size:10px;color:rgb(161, 161, 161); padding-top:5px; padding-bottom:5px;margin-top:5px;margin-bottom: 5px;
    }

// #items{
//     background-color: blue;
// }
}
